<%page args="video"/>

<object width="384" height="250" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="ep">
	<param name="allowfullscreen" value="true" />
	<param name="allowscriptaccess" value="always" />
	<param name="wmode" value="transparent" />
	<param name="movie" value="http://i.cdn.turner.com/money/.element/apps/cvp/4.0/swf/cnn_money_384x216_embed.swf?context=embed&videoId=${video}" />
	<param name="bgcolor" value="#000000" />
	<embed src="http://i.cdn.turner.com/money/.element/apps/cvp/4.0/swf/cnn_money_384x216_embed.swf?context=embed&videoId=${video}" type="application/x-shockwave-flash" bgcolor="#000000" allowfullscreen="true" allowscriptaccess="always" width="384" wmode="transparent" height="250">
	</embed>
</object>