<%page args="video"/>

<object width="490" height="276">
<param name="movie" value="http://gidnes.cz/swf/flv/player.swf"></param>
<param name="flashvars" value="configURL=${video}"></param>
<param name="allowfullscreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://gidnes.cz/swf/flv/player.swf" flashvars="configURL=${video}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="490" height="276"></embed>
</object>