<div id="results">
    <h3>Results: ${length}</h3>

    %    for item in data:
             <div class="result">
                <div class="info">
                    <div class="title"> 
                        <a href="${item[0]}">${item[1]}</a>
                    </div>
                    
                    <div class="score">
                       score: ${item[2]}
                    </div>

                    <div class="tags">
                        % for tag in item[4]:
                            <a href="./search?term=${tag}">#${tag}</a>
                        % endfor
                    </div>
                </div>
        %    for video_item in item[3]:
                <div class="video">
                    <%include file="players/${item[5]}.html" args="video=video_item"/>
                </div>
        %    endfor
                <div class="button">HIDE VIDEO</div>
            </div>
    %    endfor

    <div id="pagination">
        %   if page > 1:
                <a class="prev_page" href="./search?term=${term}&page=${page - 1}"><</a>
        %   endif

        Page ${page} / ${pages}

        %   if page < pages:
            <a class="next_page" href="./search?term=${term}&page=${page + 1}">></a>
        %   endif
    </div>
</div>        