<div id="latest">
    <h3>Latest videos</h3>
    <%!
        import re
            
        def get_site(url):
            url = re.findall(r"http://[a-z0-9\.]*/", url)[0]
            url = re.sub(r"http://|/|www\.", "", url)
            return url
    %>
    % for item in newest:
    <%
         site = get_site(item[0])
    %>
        <div class="latest_video">
            <div class="left_col">
                <a href='${item[0]}'>${item[1]}</a>
            </div>
            <div class="right_col">
                <div class="site">${site}</div>
            </div>
            <div class="date">${item[2]}, ${item[3]}</div>
            <br>
        </div>
    % endfor
</div>    