<div id="results">
    <%!
        import re
            
        def is_youtube(text):
            return re.match(r"^http://www.youtube.com", text)
            
        def is_tvsme(text):
            return re.match(r"^http://i.sme.sk/datamm", text)
            
        def parse_tvsme_video_id(text):
            return re.findall(r"[0-9]{5}", text)[0]
            
        def is_new_ted(text):
            return re.match(r"^http://embed.ted.com", text);

        def is_old_ted(text):
            return re.match(r"^http://video.ted.com", text);
    %>

    <h3>Results: ${length}</h3>

    %    for item in data:
             <div class="result">
                <div class="info">
                    <div class="title"> 
                        <a href="${item[0]}">${item[1]}</a>
                    </div>
                    
                    <div class="score">
                       score: ${item[2]}
                    </div>

                    <div class="tags">
                        % for tag in item[4]:
                            <a href="./search?term=${tag}">#${tag}</a>
                        % endfor
                    </div>
                </div>
                <div class="video">
                % if is_youtube(item[3]):
                    <iframe width="400" height="250" src="${item[3]}" frameborder="0" allowfullscreen=""></iframe>
                % elif is_new_ted(item[3]):
                    <iframe src="${item[3]}" width="385" height="270" frameborder="0" scrolling="no" webkitAllowFullScreen
                    mozallowfullscreen allowFullScreen></iframe>
                % elif is_old_ted(item[3]):
                    <embed 
                        src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf" 
                        pluginspace="http://www.macromedia.com/go/getflashplayer" 
                        type="application/x-shockwave-flash"
                        wmode="transparent" 
                        bgColor="#ffffff" 
                        width="400" 
                        height="255"
                        allowFullScreen="true" 
                        allowScriptAccess="always" 
                        flashvars="vu=${item[3]}&vw=385&amp;vh=170">
-                    </embed>

                % elif is_tvsme(item[3]):
                <%
                    video_id = parse_tvsme_video_id(item[3])
                %>
                    <iframe 
                        width="400" 
                        height="250" 
                        border="0" 
                        frameborder="0" 
                        scrolling="no"
                        style="padding:0px; margin:0px; border: 0px;" 
                        src="http://www.sme.sk/vp/${video_id}/"></iframe>
                % else:
                    <video width="500" height="300" controls>
                        <source src="${item[3]}" type='video/mp4' />
                        Your browser does not support the video tag.
                    </video>
                % endif
                </div>
                <div class="button">SHOW VIDEO</div>
            </div>
    %    endfor

    <div id="pagination">
        %   if page > 1:
                <a class="prev_page" href="./search?term=${term}&page=${page - 1}"><</a>
        %   endif

        Page ${page} / ${pages}

        %   if page < pages:
            <a class="next_page" href="./search?term=${term}&page=${page + 1}">></a>
        %   endif
    </div>
</div>        