<div id="help">
	<h3>Search basics</h3>
	<ul>
		<li>Basic term search: <b>internet</b></li>
		<li>Phrase search: <b>"your long phrase"</b></li>
		<li>Boolean operators: <b>green AND yellow OR blue</b></li>
		<li>Negation operator: <b>saturday NOT monday</b></li>
		<li>Group search: <b>first NOT (second AND third)</b></li>
		<li>Field filters: <b>title:sandy player:idnes.cz body:hurikan</b></li>
		<li>Search boosts: <b>sandy^2 hurikan^10</b></li>
	</ul>

	<h3>Supported video sites</h3>
	<ul>
		<li><a href="http://www.cnn.com">cnn.com</a></li>
		<li><a href="http://www.ted.com">ted.com</a></li>
		<li><a href="http://www.ta3.com">ta3.com</a></li>
		<li><a href="http://www.idnes.cz">idnes.cz</a></li>
		<li><a href="http://www.sme.sk">sme.sk</a></li>
		<li><a href="http://www.topky.sk">topky.sk</a></li>
		<li><a href="http://www.pravda.sk">pravda.sk</a></li>
	</ul>

	<h3>Supported browsers</h3>
	<ul>
		<li>Google Chrome</li>
		<li>Mozilla Firefox</li>
		<li>Opera</li>
		<li>Safari</li>
	</ul>


</div>