<div id="help">
	<h3>Supported video sites<h3>
	<ul>
		<li><a href="http://www.cnn.com">cnn.com</a></li>
		<li><a href="http://www.ted.com">ted.com</a></li>
		<li><a href="http://www.ta3.com">ta3.com</a></li>
		<li><a href="http://www.idnes.cz">idnes.cz</a></li>
		<li><a href="http://www.sme.sk">sme.sk</a></li>
		<li><a href="http://www.topky.sk">topky.sk</a></li>
		<li><a href="http://www.pravda.sk">pravda.sk</a></li>
	</ul>

	<h3>Query information<h3>
	<ul>
		<li>Simple query examples: <b>internet</b>, <b>matovic</b>, <b>matovič</b>, <b>games</b>...</li>
		<li>Short words (lesser than 4 characters) are forbidden to use and search engine is ignoring them.</li>
	</ul>

	<h3>Query language<h3>
	<ul>
		<li>TBD</li>
	</ul>
</div>