*{
	margin: 0;
	padding: 0;
}

#container {
   width:1000px;
   margin:0 auto;
}

#header{
    height:100px;
}

#left_col {
    float:left;
    width:500px;
}

#right_col {
    float:right;
    width:500px;
}